<div class="main-block">
    <input type="text" name="serial" [(ngModel)]="gateway.srl" placeholder="Serial">
    <input type="text" name="name" [(ngModel)]="gateway.nam" placeholder="Name">
    <input type="text" name="ip" [(ngModel)]="gateway.ip" placeholder="IP Address">
</div>

<h3>{{response}}</h3>

<a class="btn btn-add" (click)="addGateway()">Add Gateway</a>