<div class="main-block">
    <div id="nogateways-mssg" *ngIf="!gateways || gateways.length==0">
        <h2>There is not gateways yet!</h2>
    </div>

    <div id="gateways-card-collection" *ngIf="gateways.length>0">
        <div class="gateway-card" *ngFor="let gate of gateways" (click)="openGateway(gate)">
            <h2>{{gate.nam}}</h2>
            <h3>{{gate.srl}}</h3>
            <h4>{{gate.ip}}</h4>
        </div>
    </div>

    <app-add-gateway *ngIf="clickedAddGateway"></app-add-gateway>

    <a class="btn btn-add" *ngIf="!clickedAddGateway" (click)="addGateway()">Add Gateway</a>
</div>