/* You can add global styles to this file, and also import other style files */
h1,h2,h3,h4,h5,h6,p,label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-block {
    width: 100%;
    text-align: center;
}

.btn {
    padding: 1rem;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.402);
    background-color: transparent;
    position: absolute;
    margin-top: 2rem;
    margin-left: -4rem;
    cursor: pointer;
}

.btn-add {
    background-color: rgba(0, 128, 0, 0.334);    
    border: 1px solid rgba(0, 128, 0, 0.67);

}

.gateway-card {
    border-radius: 20px;
    border: 1px solid rgba(60, 82, 171, 0.522);
    padding: 1rem;
    width: 25vw;
    display: inline-block !important;
    margin-right: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

.gateway-card>h3 {
    color: rgba(0, 0, 0, 0.316);
}

.gateway-card>h4 {
    color: rgba(32, 33, 121, 0.319);
}