<div class="main-block">
    <input type="text" name="uid" [(ngModel)]="device.uid" placeholder="UID">
    <input type="text" name="vendor" [(ngModel)]="device.vendor" placeholder="Vendor">
    
    <br>
    <input type="radio" name="status" id="status" [(ngModel)]="device.status" value="Online">
    <label for="status">Online</label>

    <input type="radio" name="status" id="statusO" [(ngModel)]="device.status" value="Offline">
    <label for="statusO">Offline</label>
</div>

<h3>{{response}}</h3>

<a class="btn btn-add" (click)="addDevice()">Add Device</a>

