<div class="main-block">
    <div class="side-panel">
        <a class="btn btn-add" (click)="addGateway()">Add
            Gateway</a>

        <div class="gateway-card" *ngFor="let gate of gateways" (click)="gatewayInfo(gate)" id="{{gate.srl}}">
            <h2>{{gate.nam}}</h2>
            <h3>{{gate.srl}}</h3>
            <h4>{{gate.ip}}</h4>
        </div>
    </div>

    <div class="right-panel">
        <h1>{{gateway.nam}}</h1>
        <h3>{{gateway.ip}}</h3>

        <app-add-device *ngIf="clickedAddDevice" [gateway]="gateway"></app-add-device>
        <a class="btn btn-add" (click)="addDevice()" *ngIf="gateway.hasOwnProperty('srl') && !clickedAddDevice">Add
            Device</a>

        <h3 *ngIf="responseError!==''">{{responseError}}</h3>

        <div class="device-card" *ngFor="let device of devices">
            <h1>{{device.vendor}}</h1>
            <h3>{{device.uid}}</h3>
            <h3>{{parseDate(device.meta.created)}}</h3>
            <h4 style="display:inline-flex">
                <div [ngClass]="(device.status==='Online')?'online':'offline'"></div>
                {{device.status}}
            </h4>

            <a class="btn btn-delete" (click)="deleteDevice(device)">Delete</a>
        </div>
    </div>
</div>