.side-panel{
    height: 97vh;
    overflow-y: auto;
    border-radius: 10px 10px 10px;
    border: 1px solid rgba(0, 0, 0, 0.271);
    width: 35vw;
    position: absolute;
}

.right-panel{
    width: 63vw;
    margin-left: 35vw;
    height: 96vh;
    overflow-y: auto;
}

.activated{
    background-color: rgba(137, 43, 226, 0.305);
}

.device-card{
    border-radius: 20px;
    border: 1px solid rgba(60, 82, 171, 0.522);
    padding: 1rem;
    width: 20vw;
    display: inline-block !important;
    margin-right: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

.device-card>h3 {
    color: rgba(0, 0, 0, 0.316);
}

.device-card>h4 {
    color: rgba(32, 33, 121, 0.319);
}

.btn{
    display: block;
    position: relative;
    margin-left: 1rem;
    width: 53vw;
}

.side-panel>.btn{
    width: 26vw;
}

.btn.btn-delete{
    width: 5rem;
    background-color: rgba(255, 0, 0, 0.379);
    margin-left: auto;
    margin-right: auto;
}

.online,.offline{
width: .7rem;
height: .7rem;
border-radius: 50%;
margin-top: .3rem;
margin-right: .4rem;
}

.online{
    background-color: green;
}
.offline{
    background-color: red;
}